// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/unbranded';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.graph-container svg{
  border: 1px solid #BFC1C3;
}


.phase-banner-disco .phase-tag{
  background-color: $discovery-colour;
}

.colors-key li {
  cursor: pointer;
  user-select: none;
}

.colors-key input[type="checkbox"] {
  margin-top: -1px;
  vertical-align: middle;
}

.colors-key-lines div {
  display: inline-block;
  width: 45px;
  height: 8px;
  margin-top: -4px;
  vertical-align: middle;
}

.colors-key-circles div {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-top: -4px;
  vertical-align: middle;
}

.colored-underline {
  position: relative;

  &:after {
    bottom: 3px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

// These colors are also defined in ForceDirectedGraph.jsx

.colors-key .unknown,
.colored-underline--unknown:after {
  background-color: #6f777b;
}

.colors-key .policy-area,
.colored-underline--policy-area:after {
  background-color: #2E358B;
}

.colors-key .resource-sharing,
.colored-underline--resource-sharing:after {
  background-color: #D53880;
}

.colors-key .shared-location,
.colored-underline--shared-location:after {
  background-color: #df3034;
}

.colors-key .technical-integration,
.colored-underline--technical-integration:after {
  background-color: #FFBF47;
}

.colors-key .data-access,
.colored-underline--data-access:after {
  background-color: #28A197;
}

.dependency {
  cursor: pointer;
  margin-left: 1.25em;
  position: relative;
  &:before {
    box-sizing: border-box;
    background: white;
    border-radius: 100%;
    border: 2px solid green;
    content: '';
    height: 10px;
    left: -16px;
    position: absolute;
    top: 0.275em;
    width: 10px;
  }
}

.dependency--organisation:before {
  border-color: #F47738;
}

.dependency--programme:before {
  border-color: #912B88;
}

.dependency--service:before {
  border-color: #2B8CC4;
}

.colors-key .responsible-for,
.colors-key .organisation,
.colored-underline--responsible-for:after {
  background-color: #F47738;
}

.colors-key .programme {
  background-color: #912B88;
}

.colors-key .service {
  background-color: #2B8CC4;
}

.graph {
  .nodes circle {
    cursor: pointer;
    fill: #FFF;
    transition: fill .3s ease;

    &.selected {
      fill: #555;
    }
  }

  .labels text {
    background: white;
    pointer-events: none;
    transition: opacity .3s ease;

    opacity: 0;
    &.selected {
      opacity: 1;
    }
  }

  .links path {
    transition: opacity .3s ease;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }

  user-select: none;
}
