// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/unbranded';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.graph-container svg{
  border: 1px solid #BFC1C3;
}


.phase-banner-disco .phase-tag{
  background-color: $discovery-colour;
}

.colors-key-lines div {
  display: inline-block;
  width: 45px;
  height: 8px;
  margin-top: -4px;
  vertical-align: middle;
}

.colors-key-circles div {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-top: -4px;
  vertical-align: middle;
}

// These colors are also defined in ForceDirectedGraph.jsx

.colors-key .unknown{
  background-color: #6f777b;
}

.colors-key .policy-area{
  background-color: #2E358B;
}

.colors-key .resource-sharing{
  background-color: #D53880;
}

.colors-key .shared-location{
  background-color: #df3034;
}

.colors-key .technical-integration{
  background-color: #FFBF47;
}

.colors-key .data-access{
  background-color: #28A197;
}

.colors-key .responsible-for,
.colors-key .organisation {
  background-color: #F47738;
}

.colors-key .programme {
  background-color: #912B88;
}

.colors-key .service {
  background-color: #2B8CC4;
}
